@import "compass/css3";

@mixin animation($property){
	animation: $property;
	-moz-animation: $property;
	-webkit-animation: $property;
}

@mixin user-select($property){
	user-select: $property;
	-moz-user-select: $property;
	-webkit-user-select: $property;
}

@mixin border-radius($property){
	border-radius: $property;
	-moz-border-radius: $property;
	-webkit-border-radius: $property;
}

@mixin linear-gradient($direction, $start, $end){
	background-image: linear-gradient($direction, $start, $end);
	background-image: -moz-linear-gradient($direction, $start, $end);
	background-image: -webkit-linear-gradient($direction, $start, $end);
}

$shadow: 0 4px 16px rgba(0,0,0,0.2);
$main: #dd4839;

#hoverzoom{
	position: fixed;
	box-shadow: $shadow;
	z-index: 10002;
	display: none;
	background: rgba(255,255,255,0.5);
	width: auto;
	height: auto;
	img{
		display: block;
		margin: 5px;
	}
	small{
		display: block;
		text-align: center;
		line-height: 1;
		margin: 0 5px 5px;
	}
}
#hz_loading{
	width: 20px;
	height: 20px;
	box-shadow: 0 -2px 1px 1px $main;
	position: absolute;
	pointer-events: none;
	z-index: 10000;
	display: none;
	@include border-radius(50%);
	@include animation(loading infinite 0.8s linear);
}
#hoverzoom_db{
	position: fixed;
	top: 45%;
	right: 0;
	background: #f5f5f5;
	border: 1px solid #d2d2d2;
	border-right: none;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	width: 37px;
	height: 37px;
	display: none;
	@include border-radius(2px 0 0 2px);
	&:hover{
		div{
			background: #666;
		}
	}
	div{
		margin: 6px;
		width: 25px;
		height: 25px;
		background: #aaa;
		@include border-radius(50%);
		@include transition(0.3s);
		&:before, &:after{
			position: absolute;
			content: "";
		}
		&:before{
			width: 6px;
			height: 8px;
			background: #f5f5f5;
			top: 12px;
			left: 15px;
		}
		&:after{
			border-style: solid;
			border-width: 7px 8px;
			border-color: #f5f5f5 transparent transparent;
			top: 19px;
			left: 10px;
		}
	}
}
#hoverzoom_sc{
	position: absolute;
	z-index: 10005;
	box-shadow: $shadow;
	display: none;
	a, span{
		outline: none;
		cursor: pointer;
		color: #3366CC;
	}
	a{
		border-right: 1px solid #eee;
		padding-right: 5px;
	}
	span{
		border-left: 1px solid #eee;
		padding-left: 5px;
		&:hover{
			text-decoration: underline;
		}
	}
}
.albumDownload{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACl0lEQVQ4jX1TX2iOcRR+zvm97++d720R1mxlLlg2EjWlFhe0tkUW1tRnSGFpUlJu9blgWUmKsmRo2lbaxcpopklq0tCKopRCjWWabeb73j+/33Fh1sbHU6fOxfM853SeDiELMp5XrJSqE+CwuKQ4xiVLdNf7/v1VNv4MWup71lzb13d8an5BmU3Mey++L7Hvi/i+RAn/43hV3oqR5qXLZ2v4d9Oa7N2iSfflsHehbUdnw9cFxZUQ+1wBsAAgUGYhlsCaB6NNhRVzDFqSvSVQ6CRQfjqagi+2oavi4rl3RTV7ROyT6Ski1sQQKiRCx5dzhSsBgAVCikyTyzovttHMam6cyTlT0/mJfqRrDPAQgD/tE3ouLbYWTQIQX6+/V0rgrWEcgEDQykMYBzfGo8mdrc00ScCo0nonWbnlhsoBgEwkYNC2z2eLStkKtrtKaxCglIPIhudzo4lDJ27vTv/ehsbGxlXw41hQ7H6BgEUAz4GGxNsdARqtGChSBsacPNhefSFbQgTISK6KAQMBEBoBkxxhEDRAabZxsjuM39bV9RX9N+s/4JClFCMc7g6pwAPdFBOu+xeZHCEACV8TtCKMpe0VAoC62runtNKnjQkDzuhV7T0V77IZSBnmx7vyG0HkhkxuALrqpFIpfv0SG5gdmDiKMssGF21qW3vAiJMggcw2KAfJBFFaeeSMRfTo496nHwgAkrW9JWB5LDFyv5X2b5so6bvDnpMzV/4L7BBM2kwJ88aB+sEhBoCOrqo3ZJEE0bAyjgOStA0s5lRoAQAmY0dEpGagfnAImPUL7V3VDzhIVAT+6DCEY9YMYgIxgTWDiDI2ki5j7eaB/S/6Zw7796VA5W3rV4OkEoKj06zLELo/sP/ZX+/8E1gaKlGc2T23AAAAAElFTkSuQmCC) no-repeat;
	padding-left: 15px;
	margin-left: 20px;
	&:before{
		content: "-";
		cursor: default;
		left: -27px;
		position: relative;
		display: inline-block;
		border-bottom: 1px solid #fff;
	}
}
.in-albumDownload{
	margin: 25px 18px 25px 0;
	background: none;
}
.picDownload{
	background: #bbb;
	@include border-radius(10px);
	color: #fff !important;
	display: inline-block;
	font-size: 12px;
	line-height: 1em;
	height: 1em;
	width: 1em;
	margin: 0 2px;
	padding: 5px;
	text-align: center;
}
.picStacks{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA20lEQVQ4jbXRQUoDQRAF0DeTjhjExWwcdOVCxAu48/4X0EUUPYVgFonTLqYSmk7UDOKHhu6qrvq/fvFHNLjCDdqJtQNeGzwgRWAKWmwS5tjgEZ+RzJXKEhlnuMM8RSDjvWjQo8PLD8oycjqQuMQtZnGeQ2GJnaq6QR/FbTD3EV9iEbGPsiBV9+tg3coecGH0aREjPik8Kle3lVUauH13OMW5ceW7P/UIjX3Xa5x8N0LG6oCCmmDPg6ZILo9QkI3jQJOwjkb3v7DXSlqsZ8Ydd0b32wlnwNuRhP+IL+1ZLCIrPZQEAAAAAElFTkSuQmCC) no-repeat;
	padding-left: 15px;
	margin-left: 20px;
	&:before{
		content: "-";
		cursor: default;
		left: -27px;
		position: relative;
		display: inline-block;
		border-bottom: 1px solid #fff;
	}
}
.hz_button{
	position: relative;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	line-height: 27px;
	margin-right: 16px;
	min-width: 54px;
	outline: none;
	padding: 0 8px;
	text-align: center;
	float: left;
	text-decoration: none !important;
	@include border-radius(2px);
	@include user-select(none);
	&.green{
		background-color: #3D9400;
		border: 1px solid #29691D;
		color: #fff;
		text-shadow: 0 1px rgba(0,0,0,0.1);
		@include linear-gradient(left top, #3d9400, #398a00);
		&:hover{
			background-color: #368200;
			border: 1px solid #2D6200;
			text-shadow: 0 1px rgba(0,0,0,0.3);
			@include linear-gradient(left top, #3d9400, #368200);
		}
		&:focus, &:active{
			box-shadow: 0 0 0 1px #fff inset;
		}
	}
	&.blue{
		background-color: #4D90FE;
		border: 1px solid #3079ed;
		color: #fff;
		@include linear-gradient(left top, #4d90fe, #4787ed);
		&:hover{
			background-color: #357AE8;
			border: 1px solid #2F5BB7;
			@include linear-gradient(left top, #4d90fe, #357ae8);
		}
		&:focus, &:active{
			box-shadow: 0 0 0 1px #fff inset;
		}
	}
	&.white{
		background-color: #F5F5F5;
		border: 1px solid rgba(0,0,0,0.1);
		color: #444;
		@include linear-gradient(left top, #f5f5f5, #f1f1f1);
		&:hover{
			background-color: #F8F8F8;
			border: 1px solid #c6c6c6;
			color: #333;
			@include linear-gradient(left top, #f8f8f8, #f1f1f1);
		}
		&:focus, &:active{
			box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
		}
	}
	&.orange{
		background-color: #D14836;
		color: #fff;
		text-shadow: 0 1px rgba(0,0,0,0.1);
		border: 1px solid transparent;
		@include linear-gradient(left top, #dd4b39, #d14836);
		&:hover{
			background-color: #C53727;
			border: 1px solid #B0281A;
			box-shadow: 0 1px 1px rgba(0,0,0,0.2);
			@include linear-gradient(left top, #dd4b39, #c53727);
		}
		&:focus, &:active{
			box-shadow: 0 0 0 1px #fff inset;
		}
	}
}
#hoverzoom_fs{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10010;
	display: none;
	background: rgba(0,0,0,0.8);
	color: #ccc;
	text-shadow: 1px 1px 2px #000;
	overflow: auto;
	&.zoom{
		.ctrl{
			.right{
				.zoom{
					display: inline-block;
				}
			}
		}
	}
	&.load{
		.loading{
			opacity: 0.8;
		}
	}
	&.multi{
		.ctrl{
			.center{
				display: block;
			}
		}
	}
	&.actual{
		.ctrl{
			.right{
				.zoom{
					ul{
						li{
							&:last-of-type{
								display: block;
							}
						}
					}
				}
			}
		}
	}
	.back{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.main{
		position: absolute;
		img{
			opacity: 0;
			box-shadow: $shadow;
			max-width: 0;
			max-height: 0;
			display: block;
		}
	}
	.ctrl{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100px;
		margin-top: -50px;
		opacity: 0;
		@include transition(opacity 0.5s, margin 0.5s);
		@include linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 50%);
		&:hover{
			margin-top: 0;
			opacity: 1;
		}
		div{
			@include transition(0.3s);
			&:before, &:after{
				content: "";
				position: absolute;
			}
		}
		.close{
			position: absolute;
			left: 23px;
			opacity: 0.3;
			height: 50px;
			cursor: pointer;
			&:hover{
				opacity: 1;
			}
			&:before, &:after{
				background: #fff;
				height: 32px;
				bottom: 10px;
				width: 5px;
			}
			&:before{
				@include transform(rotate(-45deg));
			}
			&:after{
				@include transform(rotate(45deg));
			}
		}
		.center{
			position: absolute;
			left: 50%;
			top: 15px;
			width: 200px;
			margin-left: -100px;
			text-align: center;
			display: none;
			.prev, .next{
				position: absolute;
				top: 5px;
				cursor: pointer;
				opacity: 0.3;
				&:hover{
					opacity: 1;
				}
				&:before{
					top: 50%;
					border-top: 5px solid #fff;
					border-left: 5px solid #fff;
					width: 10px;
					height: 10px;
				}
			}
			.prev{
				left: 0;
				&:before{
					left: 0;
					@include transform(rotate(-45deg));
				}
			}
			.next{
				right: 0;
				&:before{
					right: 0;
					@include transform(rotate(135deg));
				}
			}
			span{
				font-size: 20px;
			}
		}
		.right{
			float: right;
			margin: 15px 25px;
			position: relative;
			a{
				color: #ccc;
				margin-left: 20px;
				@include transition(0.3s);
				&:hover{
					color: #fff;
					text-decoration: none;
				}
			}
			small{
				font-size: 13px;
			}
			.zoom{
				margin-left: 20px;
				padding-right: 15px;
				display: none;
				position: relative;
				cursor: pointer;
				&:after{
					border-style: solid;
					border-color: #ccc transparent transparent;
					border-width: 5px;
					top: 6px;
					right: 0;
				}
				&:hover{
					color: #fff;
					border-top-color: #fff;
					ul{
						display: block;
					}
				}
				ul{
					position: absolute;
					top: 100%;
					right: 0;
					list-style: none;
					color: #ccc;
					margin: 0;
					padding: 5px 0 0;
					white-space: nowrap;
					font-size: 12px;
					z-index: 10020;
					display: none;
					li{
						padding: 5px 10px;
						background: rgba(0,0,0,0.8);
						&:hover{
							background: #000;
							color: #fff;
						}
						&:last-of-type{
							display: none;
						}
					}
				}
			}
		}
	}
	.loading{
		background: #000;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		overflow: hidden;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -25px;
		margin-left: -25px;
		opacity: 0;
		@include transition(0.3s);
		@include animation(loading 2s infinite linear);
		&:before, &:after{
			position: absolute;
			content: "";
		}
		&:before{
			border: 5px solid #fff;
			border-radius: 50%;
			height: 24px;
			width: 24px;
			top: 8px;
			left: 8px;
		}
		&:after{
			background: #000;
			content: "";
			height: 12px;
			width: 36px;
			top: 30px;
			left: 7px;
		}
	}
}
.hz_settings{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	.back{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,0.75);
		z-index: 10000;
	}
	.wrap{
		display: inline-block;
		overflow-y: auto;
		margin: 10px 0;
		img{
			margin-right: 10px;
			margin-top: 5px;
		}
	}
	.main{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 550px;
		height: 315px;
		margin-top: -250px;
		margin-left: -285px;
		background: #fff;
		border: 1px solid #acacac;
		border-bottom: 1px solid #999;
		box-shadow: $shadow;
		z-index: 10001;
		border-radius: 2px;
		padding: 20px;
		overflow: hidden;
		h3{
			font-size: 20px;
			font-weight: normal;
			margin: 0;
		}
		small{
			color: #666;
		}
		.close{
			background: url(https://ssl.gstatic.com/s2/oz/images/dialogx.png) no-repeat;
			cursor: pointer;
			height: 15px;
			width: 15px;
			position: absolute;
			right: 16px;
			top: 16px;
		}
		.menu{
			background: #f5f5f5;
			border-bottom: 1px solid #ebebeb;
			border-top: 1px solid #ebebeb;
			padding: 0 5px 0 10px;
			margin: 15px -20px 0;
			li{
				display: inline-block;
				padding: 7px 12px;
				color: #666;
				cursor: pointer;
				&.current{
					font-weight: bold;
					color: $main;
				}
				&:hover{
					color: $main;
				}
			}
		}
		.tabs{
			border-top: 1px solid #ddd;
			position: absolute;
			left: 0;
			width: 590 * 3px;
			div{
				float: left;
				width: 550px;
				padding: 15px 20px 0;
			}
		}
		input[type="text"]{
			border: 1px solid #d9d9d9;
			padding: 2px 5px;
			margin-right: 5px;
			width: 50px;
		}
		input[type="checkbox"]{
			margin: 0 5px 0 0;
		}
		label{
			line-height: 2;
			margin-right: 5px;
			display: inline-block;
			min-width: 120px;
		}
		input + label, select + label{
			min-width: 0;
		}
		textarea{
			border: 1px solid #ccc;
			font: 12px Consolas, Monaco, "Courier New", Courier, monospace !important;
			height: 265px;
			width: 540px;
			padding: 10px 0 0 10px;
			margin-top: 10px;
			resize: none;
		}
		.functions{
			position: absolute;
			&.top{
				top: 20px;
				right: 50px;
			}
			&.bottom{
				bottom: 20px;
				right: 20px;
			}
			:last-child{
				margin-right: 0;
			}
		}
	}
}
#hz_copyarea{
	.back{
		z-index: 10001;
	}
}
#hz_update_note{
	z-index: 10001;
	.main{
		height: auto;
	}
	.hz_button{
		float: right;
		margin-left: 16px;
		margin-right: 0;
	}
	ul{
		padding-left: 15px;
		line-height: 2;
	}
}
#hz_opts{
	border-top: 1px solid #e5e5e5;
	margin-top: 10px;
	padding: 10px 20px 0;
	strong{
		float: left;
	}
	a{
		padding: 0 10px;
		display: inline-block;
		&:hover{
			background: #eff3fb;
			text-decoration: none;
		}
	}
	#disable_hz{
		margin-right: -10px;
		float: right;
		position: relative;
		&:before{
			content: "";
			position: absolute;
			top: 10px;
			left: -5px;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			box-shadow: 0 0 3px #3d9400;
			background: #3d9400;
		}
		&.off{
			&:before{
				box-shadow: 0 0 3px #666;
				background: #666;
			}
		}
	}
	ul{
		list-style: none;
		clear: both;
		padding: 0;
		margin-left: -10px;
	}
}
.closeButton{
	background: url(https://ssl.gstatic.com/ui/v1/icons/common/x_8px.png) no-repeat;
	cursor: pointer;
	height: 21px;
	width: 21px;
	position: absolute;
	right: 2px;
	top: 2px;
	opacity: 0.4;
	border: 1px solid transparent;
	&:active, &:focus{
		opacity: 1;
		border: 1px solid rgb(113,167,255);
	}
}
.detailButton{
	display: inline-block;
	border-color: #eee transparent transparent;
	border-style: solid;
	border-width: 5px;
	height: 0;
	margin: 0 0 -4px 5px;
	top: 3px;
	width: 0;
}
.img-in-post {
	img{
		max-width: 100%;
		height: auto;
		margin: 3px 0;
		display: block;
	}
	+br{
		display: none;
	}
}
.yt-in-post{
	margin: 3px 0;
}
.closeYT{
	cursor: pointer;
	float: right;
	margin-top: -22px;
	font-weight: bold;
}
.clickDetail{
	position: absolute;
	top: 25px;
	left: 0;
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	padding: 16px 32px 16px 16px;
	position: absolute;
	z-index: 1201;
	display: none;
	min-width: 150px;
	@include border-radius(2px);
	strong{
		color: #000 !important;
	}
	&:before{
		position: absolute;
		top: -9px;
		left: 20px;
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		border-bottom: 9px dashed #ccc;
		content: "";
	}
	&:after{
		position: absolute;
		top: -7px;
		left: 20px;
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		border-bottom: 9px dashed #fff;
		content: ""; 
	}
}
@keyframes loading{
	0% {transform: rotate(0deg)}
	100% {transform: rotate(360deg)}
}
@-webkit-keyframes loading{
	0% {-webkit-transform: rotate(0deg)}
	100% {-webkit-transform: rotate(360deg)}
}
@-moz-keyframes loading{
	0% {-moz-transform: rotate(0deg)}
	100% {-moz-transform: rotate(360deg)}
}