/* Functions */
/* Variables */
/* Main */
#hoverzoom {
  position: fixed;
  padding: 5px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  z-index: 10002;
  display: none;
  background: rgba(255, 255, 255, 0.5);
  width: auto;
  height: auto;
}
#hoverzoom small {
  display: block;
  text-align: center;
  line-height: 1;
  margin: 3px 0 2px;
}
#hoverzoom .loading {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 8px;
  border-top: 3px solid rgba(0, 0, 0, 0.5);
  animation: loading infinite 0.8s linear;
  -moz-animation: loading infinite 0.8s linear;
  -webkit-animation: loading infinite 0.8s linear;
}
/*
#picbefore {
	position: fixed;
	top: 45%;
	right: -65px;
	background: #2d2d2d;
	border-radius: 10px 0 0 10px;
	box-shadow: 0 0 5px #666;
	color: #fff;
	padding: 10px 15px 10px 45px;
	outline: none;
	.transition(0.3s);
	.noselect();
	&:hover{
		right: 0;
		text-decoration: none;
	}
	&:before{
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px dashed #fff;
		height: 0;
		width: 0;
		position: absolute;
		left: 11px;
		top: 14px;
		content: "";
	}
}
*/
#picbefore:hover {
  right: 0;
  text-decoration: none;
}
#picbefore:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px dashed #fff;
  position: absolute;
  left: 11px;
  top: 14px;
  content: "";
}
#hz_set_back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  z-index: 10000;
  box-shadow: 0 0 150px #999 inset;
  display: none;
}
#hz_set_page {
  height: 322px;
}
.hz_settings {
  position: fixed;
  width: 550px;
  height: auto;
  top: 50%;
  left: 50%;
  margin-left: -285px;
  margin-top: -250px;
  background: #fff;
  border: 1px solid #acacac;
  border-bottom: 1px solid #999;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  z-index: 10001;
  padding: 10px;
  display: none;
  border-radius: 2px;
  padding: 20px;
  overflow: hidden;
}
.hz_settings h3 {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}
.hz_settings small {
  color: #666;
}
.hz_settings p {
  margin-top: 10px;
}
.hz_settings input[type="text"] {
  border: 1px solid #d9d9d9;
  padding: 2px 5px;
  margin-right: 5px;
  width: 50px;
}
.hz_settings input[type="checkbox"] {
  margin: 0 5px 0 0;
}
.hz_settings label {
  line-height: 2;
  margin-right: 5px;
  display: inline-block;
  min-width: 120px;
}
.hz_settings input + label, .hz_settings select + label {
  min-width: 0;
}
.hz_settings textarea {
  border: 1px solid #ccc;
  font-family: Consolas, Monaco, "Courier New", Courier, monospace !important;
  font-size: 12px;
  height: 310px;
  width: 540px;
  padding: 10px 0 0 10px;
  margin-top: 10px;
}
.hz_settings .hz_menu {
  background: #f5f5f5;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  list-style: none;
  margin: 15px -20px;
  padding: 0 5px 0 10px;
}
.hz_settings .hz_menu li {
  padding: 7px 12px;
  color: #666;
  display: inline-block;
  cursor: pointer;
}
.hz_settings .hz_menu li.current {
  font-weight: bold;
  color: #dd4839;
}
.hz_settings .hz_menu li:hover {
  color: #dd4839;
}
.hz_settings .tabP :first-child {
  left: 0;
}
.hz_settings .tabP :nth-child(2) {
  left: 570px;
}
.hz_settings .tabP :last-child {
  left: 1140px;
}
.hz_settings .buttonP {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.hz_settings .update {
  line-height: 2;
  margin: 0 -20px;
  padding: 15px 20px 0 35px;
}
.hz_set_tab {
  border-top: 1px solid #ddd;
  overflow: hidden;
  height: 100%;
  position: absolute;
  margin-top: -15px;
  padding: 15px 0 0 20px;
  width: 570px;
  height: auto;
}
#hz_set_save,
#hz_set_clear,
#hz_update_install,
#hz_update_cancel {
  float: right;
  margin: 0 0 0 16px;
}
#hz_history, #hz_albums, #hz_allpic {
  display: block;
}
#hz_history a, #hz_albums a, #hz_allpic a {
  outline: none;
}
#hz_history_out, #hz_albums_out, #hz_allpic_out {
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 10px 0;
}
#hz_history img, #hz_albums img, #hz_allpic img {
  margin-right: 10px;
  margin-top: 5px;
}
.hz_set_function {
  position: absolute !important;
  right: 15px;
  top: 25px;
}
#hoverzoom_fs {
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}
#hoverzoom_fs .back {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 150px #000 inset;
  z-index: 10000;
}
#hoverzoom_fs.normal .bar {
  width: 238px;
  margin-left: -119px;
}
#hoverzoom_fs.normal .bar .prev, #hoverzoom_fs.normal .bar .next {
  display: none;
}
#hoverzoom_fs.normal .bar .info {
  border: none;
}
#hoverzoom_fs.normal .bar ul {
  width: 178px;
}
#hoverzoom_fs img {
  position: absolute;
  z-index: 10001;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#hoverzoom_fs .bar {
  position: fixed;
  top: -40px;
  left: 50%;
  color: #eee;
  width: 300px;
  margin-left: -150px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  line-height: 1;
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
  z-index: 10002;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#hoverzoom_fs .bar:hover {
  top: 10px;
}
#hoverzoom_fs .bar:hover ul {
  opacity: 1;
}
#hoverzoom_fs .bar .prev {
  border-color: transparent rgba(255, 255, 255, 0.4) transparent transparent;
  border-style: solid;
  border-width: 10px;
  float: left;
  margin: 4px 10px 4px 0;
  transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
}
#hoverzoom_fs .bar .prev:hover {
  border-color: transparent rgba(255, 255, 255, 0.8) transparent transparent;
}
#hoverzoom_fs .bar .next {
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.4);
  border-style: solid;
  border-width: 10px;
  float: right;
  margin: 4px 0 4px 10px;
  transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
}
#hoverzoom_fs .bar .next:hover {
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.8);
}
#hoverzoom_fs .bar .info {
  text-align: center;
  line-height: 15px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  line-height: 30px;
  text-align: center;
  width: 238px;
  overflow: hidden;
  height: 30px;
}
#hoverzoom_fs .bar .info small {
  display: block;
  position: relative;
  top: 0;
  font-size: 13px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
#hoverzoom_fs .bar .info small + span {
  position: relative;
  display: block;
  top: 0;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
#hoverzoom_fs .bar .info small .loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-top: 2px solid #fff;
  position: relative;
  left: 50%;
  margin: 4px -10px;
  animation: loading 0.8s linear infinite;
  -moz-animation: loading 0.8s linear infinite;
  -webkit-animation: loading 0.8s linear infinite;
}
#hoverzoom_fs .bar .info:hover small {
  top: -30px;
}
#hoverzoom_fs .bar .info:hover small + span {
  top: -30px;
}
#hoverzoom_fs .bar ul {
  position: absolute;
  top: 30px;
  left: 30px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  font-size: 12px;
  list-style: none;
  width: 240px;
  border-radius: 0 0 5px 5px;
  opacity: 0;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
#hoverzoom_fs .bar ul a {
  color: #eee;
  text-decoration: none;
  display: block;
  outline: none;
}
#hoverzoom_fs .bar ul li {
  padding: 5px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
}
#hoverzoom_fs .bar ul li:hover {
  background: rgba(255, 255, 255, 0.1);
}
#hoverzoom_fs .bar ul li:last-child {
  border-radius: 0 0 5px 5px;
  border-bottom: none;
}
#hz_functions {
  position: fixed;
  z-index: 10005;
  display: none;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
#hz_functions a {
  outline: none;
}
#hz_functions a:first-child {
  border-right: 1px solid #eee;
  padding-right: 5px;
}
#hz_functions a:last-child {
  border-left: 1px solid #eee;
  padding-left: 5px;
}
.albumDownload {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACl0lEQVQ4jX1TX2iOcRR+zvm97++d720R1mxlLlg2EjWlFhe0tkUW1tRnSGFpUlJu9blgWUmKsmRo2lbaxcpopklq0tCKopRCjWWabeb73j+/33Fh1sbHU6fOxfM853SeDiELMp5XrJSqE+CwuKQ4xiVLdNf7/v1VNv4MWup71lzb13d8an5BmU3Mey++L7Hvi/i+RAn/43hV3oqR5qXLZ2v4d9Oa7N2iSfflsHehbUdnw9cFxZUQ+1wBsAAgUGYhlsCaB6NNhRVzDFqSvSVQ6CRQfjqagi+2oavi4rl3RTV7ROyT6Ski1sQQKiRCx5dzhSsBgAVCikyTyzovttHMam6cyTlT0/mJfqRrDPAQgD/tE3ouLbYWTQIQX6+/V0rgrWEcgEDQykMYBzfGo8mdrc00ScCo0nonWbnlhsoBgEwkYNC2z2eLStkKtrtKaxCglIPIhudzo4lDJ27vTv/ehsbGxlXw41hQ7H6BgEUAz4GGxNsdARqtGChSBsacPNhefSFbQgTISK6KAQMBEBoBkxxhEDRAabZxsjuM39bV9RX9N+s/4JClFCMc7g6pwAPdFBOu+xeZHCEACV8TtCKMpe0VAoC62runtNKnjQkDzuhV7T0V77IZSBnmx7vyG0HkhkxuALrqpFIpfv0SG5gdmDiKMssGF21qW3vAiJMggcw2KAfJBFFaeeSMRfTo496nHwgAkrW9JWB5LDFyv5X2b5so6bvDnpMzV/4L7BBM2kwJ88aB+sEhBoCOrqo3ZJEE0bAyjgOStA0s5lRoAQAmY0dEpGagfnAImPUL7V3VDzhIVAT+6DCEY9YMYgIxgTWDiDI2ki5j7eaB/S/6Zw7796VA5W3rV4OkEoKj06zLELo/sP/ZX+/8E1gaKlGc2T23AAAAAElFTkSuQmCC) no-repeat;
  padding-left: 15px;
  margin-left: 20px;
}
.albumDownload:before {
  content: "-";
  cursor: default;
  left: -27px;
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #fff;
}
.in-albumDownload {
  margin: 25px 18px 25px 0;
  background: none;
}
.picDownload {
  background: #bbb;
  border-radius: 10px;
  color: #fff !important;
  display: inline-block;
  font-size: 12px;
  line-height: 1em;
  height: 1em;
  width: 1em;
  margin: 0 2px;
  padding: 5px;
  text-align: center;
}
.picStacks {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA20lEQVQ4jbXRQUoDQRAF0DeTjhjExWwcdOVCxAu48/4X0EUUPYVgFonTLqYSmk7UDOKHhu6qrvq/fvFHNLjCDdqJtQNeGzwgRWAKWmwS5tjgEZ+RzJXKEhlnuMM8RSDjvWjQo8PLD8oycjqQuMQtZnGeQ2GJnaq6QR/FbTD3EV9iEbGPsiBV9+tg3coecGH0aREjPik8Kle3lVUauH13OMW5ceW7P/UIjX3Xa5x8N0LG6oCCmmDPg6ZILo9QkI3jQJOwjkb3v7DXSlqsZ8Ydd0b32wlnwNuRhP+IL+1ZLCIrPZQEAAAAAElFTkSuQmCC) no-repeat;
  padding-left: 15px;
  margin-left: 20px;
}
.picStacks:before {
  content: "-";
  cursor: default;
  left: -27px;
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #fff;
}
.button_style {
  display: inline-block;
  position: relative;
  border-radius: 2px;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  height: 27px;
  line-height: 27px;
  margin-right: 16px;
  min-width: 54px;
  outline: none;
  padding: 0 8px;
  text-align: center;
  float: left;
  text-decoration: none !important;
}
.greenButton {
  background-color: #3D9400;
  border: 1px solid #29691D;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3d9400), to(#398a00));
  background-image: -webkit-linear-gradient(top, #3d9400, #398a00);
  background-image: -moz-linear-gradient(top, #3d9400, #398a00);
  background-image: -ms-linear-gradient(top, #3d9400, #398a00);
  background-image: -o-linear-gradient(top, #3d9400, #398a00);
  background-image: linear-gradient(top, #3d9400, #398a00);
}
.greenButton:hover {
  background-color: #368200;
  border: 1px solid #2D6200;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3d9400), to(#368200));
  background-image: -webkit-linear-gradient(top, #3d9400, #368200);
  background-image: -moz-linear-gradient(top, #3d9400, #368200);
  background-image: -ms-linear-gradient(top, #3d9400, #368200);
  background-image: -o-linear-gradient(top, #3d9400, #368200);
  background-image: linear-gradient(top, #3d9400, #368200);
}
.greenButton:focus, .greenButton:active {
  box-shadow: 0 0 0 1px #fff inset;
  outline: none;
}
.blueButton {
  background-color: #4D90FE;
  border: 1px solid #3079ed;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#4787ed));
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(top, #4d90fe, #4787ed);
}
.blueButton:hover {
  background-color: #357AE8;
  border: 1px solid #2F5BB7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#357ae8));
  background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
  background-image: linear-gradient(top, #4d90fe, #357ae8);
}
.blueButton:focus, .blueButton:active {
  box-shadow: 0 0 0 1px #fff inset;
  outline: none;
}
.whiteButton {
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #444;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
}
.whiteButton:hover {
  background-color: #F8F8F8;
  border: 1px solid #c6c6c6;
  color: #333;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
}
.whiteButton:focus, .whiteButton:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.orangeButton {
  background-color: #D14836;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4b39), to(#d14836));
  background-image: -webkit-linear-gradient(top, #dd4b39, #d14836);
  background-image: -moz-linear-gradient(top, #dd4b39, #d14836);
  background-image: -ms-linear-gradient(top, #dd4b39, #d14836);
  background-image: -o-linear-gradient(top, #dd4b39, #d14836);
  background-image: linear-gradient(top, #dd4b39, #d14836);
}
.orangeButton:hover {
  background-color: #C53727;
  border: 1px solid #B0281A;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4b39), to(#c53727));
  background-image: -webkit-linear-gradient(top, #dd4b39, #c53727);
  background-image: -moz-linear-gradient(top, #dd4b39, #c53727);
  background-image: -ms-linear-gradient(top, #dd4b39, #c53727);
  background-image: -o-linear-gradient(top, #dd4b39, #c53727);
  background-image: linear-gradient(top, #dd4b39, #c53727);
}
.orangeButton:focus, .orangeButton:active {
  box-shadow: 0 0 0 1px #fff inset;
  outline: none;
}
.closeButton {
  background: url(https://ssl.gstatic.com/s2/tt/images/sharebox/sprite2.png) no-repeat 0 -162px;
  cursor: pointer;
  height: 9px;
  width: 9px;
  margin: 1px;
  position: absolute;
  right: 11px;
  top: 11px;
}
.detailButton {
  display: inline-block;
  border-color: #eee transparent transparent;
  border-style: solid;
  border-width: 5px;
  height: 0;
  margin: 0 0 -4px 5px;
  top: 3px;
  width: 0;
}
.img-in-post img {
  max-width: 100%;
  height: auto;
  margin: 3px 0;
  display: block;
}
.img-in-post + br {
  display: none;
}
.yt-in-post {
  margin: 3px 0;
}
.closeYT {
  cursor: pointer;
  float: right;
  margin-top: -22px;
  font-weight: bold;
}
.clickDetail {
  position: absolute;
  top: 25px;
  left: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 16px 32px 16px 16px;
  position: absolute;
  z-index: 1201;
  display: none;
  min-width: 150px;
}
.clickDetail strong {
  color: #000 !important;
}
.clickDetail:before {
  position: absolute;
  top: -9px;
  left: 20px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px dashed #ccc;
  content: "";
}
.clickDetail:after {
  position: absolute;
  top: -7px;
  left: 20px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px dashed #fff;
  content: "";
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
